body {
    text-align: center;
    margin: 10%;
    margin-top: 30px;
    background-color:peachpuff;
}
h1 {
    font-family: 'Zen Tokyo Zoo',cursive;
    color: #8E6C88;
    font-size: 10em;
}
p{
    font-size: 2.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
li { 
    color: black;
}
a {
 color : black;
 text-emphasis:5;
}
.navbar{
    text-align: justify;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
}

p1{
font-size: 3rem;


}