<html>
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
</style>
</head>

<body >
    </br>
    <h1>Bazzoo</h1>
    <p>Clothing just for you!</p>
</br>
</br>
    <ul class="nav nav-pills nav-fill">
        <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="#"> link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </br>
        </br>
        </li>
    </ul>
    <form method="post" action="/yourgif" class="text-center">
        <input type="text" name="gifchoice" placeholder="What's your budget?" />
        <input type="submit" value="Submit" />
    </form>
</br >
</br >

    <h2>Catalog</h2>
    <div class="card" style="width: 18rem;" class="card text-center">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</body>

</html>